<!DOCTYPE html>
{% load static %}
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>{% block title %}Base{% endblock %}</title>

        <script src="{% static 'jquery/jquery.js' %}"></script>
        
        <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}">
        <script src="{% static 'bootstrap/js/bootstrap.min.js' %}"></script>
        
        <link rel="stylesheet" href="{% static 'fontawesome/css/all.min.css' %}">
        <link rel="stylesheet" href="{% static 'fontawesome/js/all.min.js' %}">

        {% block custom_css %}{% endblock %}

    </head>
    <body>
        <nav class="navbar navbar-expand-lg navbar-dark sticky-top" style="background-image: linear-gradient(to right,rgb(47, 165, 198),rgb(62, 214, 179));">
            <div class="container-fluid">
            <a class="navbar-brand" href="">Apparel</a>
            </div>
        </nav>
        {% block block_content %}
        {% endblock %}
    </body>
</html>